<div class="welcome-page">
    <h1>
        Welcome to IdentityServer4
    </h1>

    <ul>
        <li>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </li>
    </ul>
</div>